## Visual Studio
.vs/
.vscode/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Dotnet
project.lock.json
project.fragment.lock.json
artifacts/

## Build outputs
publish/

## Logs
logs/
*.log

## Production secrets
appsettings.Production.json

## Other
Thumbs.db
Desktop.ini

